.doctor-detail{
    background-image: url('./assets/WhatsApp\ Image\ 2024-09-24\ at\ 5.35.52\ AM.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}